body {
  margin: 0;
  font-family: "Inter", 'Segoe UI', "Tahoma", "Geneva", "Verdana", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

h3, h1, p {
  margin: 0;
}

button, input {
  font-family: "Inter", 'Segoe UI', "Tahoma", "Geneva", "Verdana", sans-serif;
}

.fz-14 {
  font-size: 16px;
} 

.wrapper {
  background: #FFFFFF;
  max-width: 1440px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #EAEAEA;

  img {
    margin-right: 15px;
  }
}

.card {
  border: 1px solid #eaeaea;
  padding: 20px 20px 25px;
  width: 310px;
  border-radius: 40px;
  margin-bottom: 50px;
  transition: all .3s linear;
  // margin-right: 40px;
  margin: 0 auto 50px;
  

  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
  }

  // &:not(:last-child) {
  //   margin-right: 40px;
  // }

  img {
    margin: 0 auto;
    display: flex;
  }

  span {
    color: #BDBDBD;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
  }

  .price {
    font-size: 14px;
    font-weight: 700;
  }

  .button {
    cursor: pointer;
    margin: 0px 0px;
  }
}

.search {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px 15px;

  input {
    border: 0;
    padding: 10px;
  }
}

.favorite {
  position: absolute;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.rightSidebar {
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.items {
  flex: 1;
  overflow: auto;
  margin-bottom: 40px;
  
  &::-webkit-scrollbar { width: 0; }
  & { -ms-overflow-style: none; }
  & { overflow: -moz-scrollbars-none; }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .cartInfo {
    max-width: 150px;
  }

  b {
    font-weight: 700;
  }

  .closedBtn {
    opacity: .5;
    transition: all .3s linear;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.cartTotalblock {
  font-size: 16px;

  li {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  b {
    font-weight: 600;
  }

  div {
    flex: 1;
    border-bottom: 1px dashed #bfbfbf;
    height: 1px;
    margin: 8px 7px 0px;
  }
}

.empty {
  height: 100%;
  max-width: 285px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  vertical-align: middle;

  .text {
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
  }
}

.primaryBtn {
  width: 100%;
  margin-top: 20px;
  background-color:#9DD458;
  border: none;
  padding: 18px 0px;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  transition: all .3s linear;

  span {
    position: relative;
    height: 2px;
    width: 18px;
    background-color: #fff;
    left: 270px;
    top: -10px;
    display: block;
    transition: all .3s linear;

    &::after, &::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 10px;
      background-color: #fff;
    }

    &:after {
      top: 3px;
      right: -2px;
      transform: rotate(-45deg);
    }
    &:before {
      top: -3px;
      right: -2px;
      transform: rotate(45deg);
    }
  }

  &:hover {
    background-color: #7fb739;
    cursor: pointer;

    span {
      transform: translateX(5px);
    }
    
  }
}

.closedBtn {
  opacity: .5;
  transition: opacity .3s linear;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

}

.shops {
  font-weight: 600;

  li {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 20px;
    transition: all .3s linear;
    color: #000;

    &:hover {
      background-color: #000;
      color: #fff ;
      cursor: pointer;
    }
  }
  
}

.active {
  background-color: #000;
  color: #fff !important;
  border: none;
}